.frontimg{
    width: 1300px;
    height: 600px;
    margin-bottom: -10px;
}
.header{
    display: flex;
    background-color: black;
    width: 1300px;
    position: fixed;
    background: transparent;
    
}
.right{
    margin-left: 550px;
    color: white;
    
}

.left{
    color: white;
    margin-left: 60px;
    padding-top: px;
    font-weight: 900;
    font-size: 30px;

}

li{
    list-style: none;
    margin: 15px;
    font-weight: 900;
    font-size: 17px;
}

ul{
    display: flex;
    
}

.next{
    width: 1300px;
    height: 600px;
    margin-top: -10px;
}

.in{
    background-color: black;
    width: 1300px;
    height: 300px;
    color: white;
    margin-top: -10px;
    font-size: 80px;
    margin-bottom: -10px;
    font-weight: 900;
    text-align: center;
    padding-top: 60px ;
}

.view{
    background: black;
    width: 1300px;
    height:50px;
    color: white;
    margin-top: -10px;
}

.viewbtn{
    width: 180px;
    height:50px;
    margin-left: 50px;
    color: white;
    background-color: rgb(39, 30, 30);
    margin-top: -50px;
    font-weight: 600;
    border: none;
}

#myVideo {
    right: 0;
    bottom: 0;
    width: 1300px;
    min-height: 100%;
  }
  
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  .bmibtn{
      width: 180px;
      height:40px;
      color: white;
      font-weight: 600;
      border: none;
      font-size: 15px;
      background-color: black;
  }
  
  .bmibtn:hover{
      color: black;
      background-color: white;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .footer_div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin-top: -10px;
    background-color: black;
    color: white;
    width:1300px;
}

a{
    color: white;
    text-decoration: none;
}

span{
    color: red;
    font-size: 70px;
    font-weight: 900;
    font-style: italic;
}